.footer{
	background-color: #101C27;
	color: #efefef;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.footer a {
  color: #00E5FF;
}
.footer a:hover{
  color: #d8e6f3;		
}
.footer p{
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    text-align: center;
}
.quote{
  background-color: #1D2F3F;
  color: #EEEEEE;
}
.foot{
  color: #9E9E9E;
}
.signature{
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}
.img-signature{
  height: 40px;
}