.projects {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
  }

  h2 {
    font-family: 'Poiret One', sans-serif;
    font-size: 50px;
  }

  h3 {
    font-family: 'Ubuntu', sans-serif;
  }

  &__pjs-icon {
    height: 80px;
  }

  &__pjs-btn {
    font-size: 25px;
    margin: 20px auto 20px;
  }

}

// .projects-section h1{
//   font-family: 'Montserrat', sans-serif;
//   font-size: 80px;
// }
// .projects-section h2{
//   font-family: 'Poiret One', sans-serif;
//   font-size: 50px;
// }
// .projects-section h3{
//   font-family: 'Ubuntu', sans-serif;
// }
// .projects-icon{
//   height: 80px;
// }

// .btn-projects {
//   font-size: 25px;
//   margin: 20px auto 20px;
// }
