@import "home";
@import "navbar";

body, html{
	width: 100%;
	height: 100%;
}

@media(min-width:768px) {
  header {
      min-height: 100%;
  }

  header .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }

  header .header-content .header-content-inner {
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px;
  }

  header .header-content .header-content-inner h1{
      font-size: 50px;

  }

}

@media(max-width: 992px){
  .skills-img{
      height: 100px;
  }
  .flip-container, .front, .back {
   height: 100px;
  }
  .banner{
      height: 70px;
  }
  .about-section{
      font-size: 18px;
  }
  .about-section .social-icons{
      height: 80px;
  }
  .about-section p{
      font-size: 18px;
  }
  .projects-icon{
      height: 60px;
  }
  .projects-section h1{
      font-size: 60px;
  }
  .projects-section h2{
      font-size: 40px;
  }
  .contact-section {
      padding-top: 80px;
      padding-bottom: 80px;
  }
}

@media(max-width: 768px) {
  .about-section{
      padding-top: 70px;
      padding-bottom: 50px;
  }
  .about-section p{
      font-size: 16px;
  }
  .about-section .social-icons{
      height: 50px;
  }
  .skills-img{
      height: 60px;
  }
  .skills-section{
      padding-top: 55px;
  }
  .contact-section {
      padding-top: 50px;
  }
  .contact-section h1{
      font-size: 25px;
  }
  .contact-section li{
      font-size: 16px;
  }
  .skills-section h1{
      font-size: 25px; 
  }
  .banner{
      height: 50px;
  }
  .skills-section h3{
      font-size: 16px;
  }
  .flip-container, .front, .back {
   height: 80px;
  }
  /* navbar */
  .navbar-default {
      background-color: #FAFAFA;
      border-color: rgba(255,255,255,.3);
  }
  /* title */
  .navbar-default .navbar-brand {
      color: #F05F40;
      font-size: 25px;	
      font-weight: bold;
      -webkit-transition: color 0.25s; /* For Safari 3.1 to 6.0 */
      transition: color 0.25s;
      transition: font-size 0.5s ease;
      -webkit-transition: font-size 0.5s ease;
  }
  
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: #F05F40;
  }
  /* link */
  .navbar-default .navbar-nav > li > a {
      color: #333;
      font-weight: bold;
      -webkit-transition: color 0.25s;
      transition: color 0.25;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color: #F05F40;
  }
}